@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: 'MeltedMonster';
    src: url('./Resourses/MeltedMonster.woff2') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.containter1 {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(110deg, #F28C8C, #f4d6d6);
    padding-bottom: 20px;
}

#curve {
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

.navbar {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10%;
    margin-top: 50px;
    height: auto;
    max-width: 1200px;
    background-color: transparent !important;
}

.left-cont,
.right-cont {
    width: 100%;
    text-align: center;
}

.left-cont p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 3.5rem;
}

#p2 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

.right-cont img {
    max-width: 100%;
    height: auto;
}


/* Container2 Starts Here */

.middle-container {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
}

.middle-container h1 {
    font-family: "Poppins", sans-serif;
    margin: 40px 0px;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.Featuredflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    cursor: pointer;
}

.card {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 90%;
    max-width: 250px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    z-index: 1;
}

.card img {
    width: 100%;
    height: auto;
}

.card .description {
    display: none;
}

.card::before {
    content: attr(data-description);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    transition: opacity 0.2s ease-in-out;
    z-index: 10;
}

.card:hover::before {
    opacity: 0;
    z-index: -1;
}


/* Container3 Starts Here */
.container3 {
    background-color: #f5f5f5;
}

hr {
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
}

.midd-left-container {
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
}

.third-middle-container h1 {
    font-family: 'Lobster', cursive;
    color: #8b4513d4;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 80px;
    letter-spacing: 8px;
}

.Featuredflex2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.third-middle-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    margin-top: 50px;
    max-width: 1200px;
}

.Featuredflex2 img {
    height: 200px;
    width: auto;
    border-radius: 100%;
}

.left-cont2,
.mid-cont2,
.right-cont2 {
    flex: 1;
    justify-content: space-between;
    margin-bottom: 50px;
}



/* Container4 Starts Here */
.container4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background-color: #f5f5f5;
    margin-bottom: 50px;
}

#cont4-h1 {
    text-align: center;
    margin-top: 40px;
    font-family: 'MeltedMonster', sans-serif;
    font-size: 4rem;
    color: #8B4513;
    z-index: 2;
}

#cont4-hr {
    width: 20rem;
    margin-top: 15px;
    margin-bottom: 50px;
    border: 1px solid #8B4513;
    z-index: 2;
}

.fourth-middle-container {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;
}

.align-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    position: relative;
    z-index: 2;
    letter-spacing: 1px;
    line-height: 1.5rem;
}

.left-disco,
.right-disco {
    flex: 1;
    margin: 10px;
    position: relative;
    z-index: 2;
}

.fill-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.fill-form input[type="email"] {
    border-radius: 10px;
    width: 90%;
    height: 50px;
    margin-right: 15px;
    padding: 0 10px;
}

#submit {
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-weight: 900;
    cursor: pointer;
    background-color: #f6f2f055;
    color: #8B4513;
    border: 1px #8B4513 solid;
    transition: 0.2s ease-in-out;
}

#submit:hover {
    background-color: #8B4513;
    color: white;
    border: none;
}

#smt-p {
    margin-top: 30px;
}

#disco-img {
    display: none;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Resourses/All ice creams/Sundae ice cream.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: 1;
    opacity: 0.5;
}

.right-disco>div {
    padding: 0 10px;
}


/* Container5 Starts Here */

.container5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.fift-midd-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 90%;
}

.fifth-left-cont,
.fifth-right-cont {
    width: 100%;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.fifth-left-cont img {
    max-width: 100%;
    height: auto;
}

.fifth-right-cont p {
    font-size: 1rem;
    line-height: 1.6;
}

/* Container6 Starts Here */

.container6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

/* .cards-middle {
    i will add later if anything needed
} */



/* Container 7 Starts Here */

.container7 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

.customer-reviews {
    letter-spacing: 1px;
    margin: 50px 0;
    padding: 10px 20xp;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.customer-reviews h1 {
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #8b4513d4;
    color: white;
    padding: 10px 20px;
}

.review-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 70px;
}

.review-box:hover {
    /* transform: translateY(-10px);           for if review-box need to get -10px up as transition */
    scale: 1.02;
    transition: ease-in 0.2s;
}

.review-box {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center
}

.profile {
    display: flex;
    align-items: center;
}

.user-name {
    display: flex;
    flex-direction: column;
}

.user-name strong {
    letter-spacing: 0.5px;
    font-size: 1.1rem;
    color: #3d3d3d;
}

.user-name span {
    color: #979797;
    font-size: 0.8rem;
}

.actual-review {
    color: #f9d71c;
}

.profile-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-reviews {
    font-size: 0.9rem;
    color: #4b4b4b;
}


/* ----------------- Footer --------------------- */

.footer {
    background: linear-gradient(110deg, #F28C8C, #f4d6d6);
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    margin: 10px 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-icons {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.footer .social-icons a {
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s;
}

.footer .social-icons a:hover {
    color: #000;
}



















/* Responsive for 425px */
@media screen and (max-width: 425px) {
    .align-container {
        flex-direction: column;
        width: 90%;
    }

    .left-disco,
    .right-disco {
        margin: 10px 0;
        flex: unset;
        width: 100%;
    }

    .fill-form {
        flex-direction: column;
        align-items: stretch;
        margin-top: 50px;
    }

    .fill-form input[type="email"] {
        width: 100%;
        margin: 0 0 10px 0;
    }

    #submit {
        width: 100%;
    }

    #cont4-h1 {
        font-size: 2rem;
        margin-top: 20px;
    }

    #cont4-hr {
        width: 60%;
        margin: 15px auto;
    }

    #smt-p {
        margin-top: 15px;
        text-align: center;
    }

    .right-disco>div {
        padding: 10px;
    }

    .left-cont2,
    .mid-cont2,
    .right-cont2 {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .left-cont2 img,
    .mid-cont2 img,
    .right-cont2 img {
        display: block;
        margin: 0 auto;
    }

    .left-cont2 div,
    .mid-cont2 div,
    .right-cont2 div {
        margin-top: 10px;
    }
}

/* Responsive for 768px */
@media screen and (max-width: 768px) {
    .align-container {
        flex-direction: column;
        width: 90%;
    }

    .left-disco,
    .right-disco {
        margin: 10px 0;
        flex: unset;
        width: 100%;
    }

    .fill-form {
        flex-direction: column;
        align-items: stretch;
        margin-top: 50px;
    }

    .fill-form input[type="email"] {
        width: 100%;
        margin: 0 0 10px 0;
    }

    #submit {
        width: 100%;
    }

    #cont4-h1 {
        font-size: 3rem;
        margin-top: 20px;
    }

    #cont4-hr {
        width: 60%;
        margin: 15px auto;
    }

    #smt-p {
        margin-top: 15px;
        text-align: center;
    }

    .right-disco>div {
        padding: 10px;
    }

    .Featuredflex2 img {
        display: block;
        margin: 0 auto;
    }
}

/* for screens larger than 768px */
@media (min-width: 768px) {
    .containter1 {
        min-width: auto;
    }

    .center-container {
        flex-direction: row;
        height: 70vh;
    }

    .left-cont,
    .right-cont {
        flex: 1;
        text-align: left;
    }

    .right-cont img {
        max-width: 600px;
    }

    .middle-container {
        min-width: auto;
    }

    .middle-container h1 {
        font-size: 3rem;
    }

    .Featuredflex {
        max-width: 1200px;
    }

    .card {
        width: 250px;
    }

    .third-middle-container {
        flex-direction: row;
    }

    .left-cont2,
    .mid-cont2,
    .right-cont2 {
        font-family: "Poppins", sans-serif;
    }

    .align-container {
        flex-direction: row;
        width: 70%;
    }

    .fill-form {
        flex-direction: row;
    }

    .container5 {
        height: 100vh;
    }

    .fift-midd-container {
        flex-direction: row;
    }

    .Featuredflex2 img {
        display: block;
        margin: 0 auto;
    }
}