* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.navbar {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}


/*-------------------------------   CONTAINER 2  ------------------------------- */


.carousel-item {
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.carousel-item img {
    z-index: 0;
}

.btn-booknow {
    position: relative;
    padding: 10px 15px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 10px;
    border: 0.7px solid white;
    color: white;
    font-weight: 600;
    background: transparent !important;
    overflow: hidden;
}

.btn-booknow span {
    position: absolute;
    background: linear-gradient(160deg, #A3D9A5, #f4f1f1da);
    background-color: #A3D9A5;
    height: 100%;
    width: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.btn-booknow:hover span {
    width: 100%;
    border-radius: 10px;
}


.carousel-caption {
    z-index: 1;
}

.carousel-caption p {
    margin-top: 15px;
    font-size: 1.2rem;
}



/*-------------------------------   CONTAINER 3  ------------------------------- */

.production-process-continer {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.main-body-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-body-cont h1 {
    margin: 3.125rem 0;
    letter-spacing: 0.25rem;
}

.all-process-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5%;
}

.process {
    flex: 1 1 30%;
    margin: 1%;
}

.process-grid {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.process-headings {
    font-size: 1.25rem;
    font-weight: 600;
    color: #8b4513d3;
}


/*-------------------------------   CONTAINER 4  ------------------------------- */


.our-locations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-y: auto;
    width: 100%;
    height: 450px;
    scroll-snap-type: x mandatory;
}

.location-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.location-map {
    flex: 1 0 auto;
    min-width: 300px;
    scroll-snap-align: start;
}



/*-------------------------------   CONTAINER 5  ------------------------------- */



.booking-form {
    display: flex;
    justify-content: centere;
    align-items: center;
    margin: 0 7.5%;
}

.middle-contain {
    margin: 0 auto;
    background: linear-gradient(90deg, #a3d9a548, #f6f4f4e1);
    border-radius: 25px;
    border: 0.25px solid #4b4a4a17;
    margin-top: 8%;
    margin-bottom: 8%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.120);

}

.middle-contain form input[type="text"],
.middle-contain form select,
.middle-contain form option,
.middle-contain form textarea,
.middle-contain form input[type="file"] {
    background-color: #fbf8f8 !important;
}

.book-form-cont {
    padding: 30px;
}

.form-head {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #4b4a4a;
    margin: 20px 0;
}



/*-------------------------------   CONTAINER 6  ------------------------------- */


.card {
    margin-right: 50px;
}

.certificate-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.certificate-text h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    margin-top: 3.1rem;
    letter-spacing: 3px;
    margin-bottom: 50px;
}


/*-------------------------------   CONTAINER 7  ------------------------------- */

.col-lg-4 {
    margin-top: 50px;
}

.rounded-circle,
.img-h2,
.view-button {
    margin-bottom: 15px;
}

.stories {
    font-size: 3rem;
    font-weight: 600;
    margin-right: 10px;
}

.container-stories {
    margin: 0 5%;
    margin-bottom: 3rem;
}







/* Footer */
.certificate-container {
    height: 70vh;
}





/* Media Queries */

/* Up to 2560px */
@media (max-width: 2560px) {
    .process {
        flex: 1 1 20%;
    }

    .main-body-cont h1 {
        font-size: 3rem;
    }
}

/* Up to 1440px */
@media (max-width: 1440px) {
    .process {
        flex: 1 1 30%;
    }

    .main-body-cont h1 {
        font-size: 2.5rem;
    }

    .process-headings {
        font-size: 1.40rem;
    }

    .location-map {
        flex: 1 1 calc(50% - 10px);
    }

    .location-map iframe {
        width: 100%;
        height: 400px;
    }
}

/* Up to 1024px */
@media (max-width: 1024px) {
    .process {
        flex: 1 1 30%;
    }

    .main-body-cont h1 {
        font-size: 2.25rem;
    }

    .process-headings {
        font-size: 1.25rem;
    }

    .location-map {
        flex: 1 1 calc(50% - 10px);
    }

    .location-map iframe {
        width: 100%;
        height: 300px;
    }

    /* stories of employees */

    .stories {
        font-size: 2.5rem;
    }

    .col-lg-4 {
        margin-top: 30px;
    }

    .rounded-circle {
        width: 120px;
        height: 120px;
    }
}

/* Up to 768px */
@media (max-width: 768px) {
    .process {
        flex: 1 1 100%;
    }

    .main-body-cont h1 {
        font-size: 2rem;
        margin: 2rem 0;
    }

    .process-headings {
        font-size: 1.25rem;
    }

    .location-map {
        flex: 1 1 100%;
    }

    .location-map iframe {
        width: 100%;
        height: 300px;
    }

    /* stories of employees */

    .stories {
        font-size: 2.3rem;
    }

    .rounded-circle {
        width: 150px;
        height: 150px;
    }

    .img-h2 {
        font-size: 1.5rem;
    }

    .d-flex {
        flex-direction: row;
        align-items: flex-start;
    }

    .col-lg-4 {
        text-align: center;
    }
    
    .h1-icon {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}

/* Up to 430px */
@media (max-width: 430px) {
    .main-body-cont h1 {
        font-size: 2rem;
        margin: 1.5rem 0;
    }

    .process-headings {
        font-size: 1.25rem;
    }

    .process-grid {
        padding: 5px;
    }

    .location-map iframe {
        width: 100%;
        height: 250px;
    }

    /* stories of employees */

    .stories {
        font-size: 2.3rem;
        margin-left: 1rem;
    }

    .rounded-circle {
        width: 100px;
        height: 100px;
    }

    .img-h2 {
        font-size: 1.3rem;
    }

    .view-button {
        font-size: 0.8rem;
    }

    .col-lg-4 {
        margin-top: 20px;
        text-align: center;
    }

    .h1-icon {
        flex-direction: row;
        align-items: center;
        margin-bottom: 1.5rem;
    }

}

/* Up to 320px */
@media (max-width: 320px) {
    .location-map iframe {
        width: 100%;
        height: 200px;
        border: 2px solid orange;
    }
}
